html, body{
    height: 100%;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}

.homepage {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    align-items: stretch;
}

header {
    align-self: flex-end;
    display: flex;
    align-items: center;
    margin: 4px;
    
}

header a{
    font-family: Arial, sans-serif;
    margin: 8px;
}

header .round-button{
    margin: 8px;
    background-color: rgba(60,64,67,0.2);
    border-radius: 50%;
    min-height: 32px;
    min-width: 32px;
}

div {
    display: block;
}

.logo-block img {
    justify-self: flex-end;
}

.logo-block {
    flex-grow: 1;
    flex-shrink: 0;
    height: calc(100% - 560px);
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.search-bar {
    display: block;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 584px;
    max-height: 40px;
    
    border-radius: 40px;
    border: 1px solid #dfe1e5;

    padding: 5px 8px 0 16px;
    padding-left: 14px;

    display:flex;
    align-items: stretch;
    justify-content: flex-start;
}

.search-bar .search-icon{
    width: 24px;
    padding-right: 13px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.search-buttons button:hover{
    text-decoration: none;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.search-bar svg {
    width: 24px;
    height: 24px;
    color: #9aa0a6;
}

input, button, a{
    flex: 1 1 100%;
    border-color: transparent;
    font-family: arial,sans-serif;
    font-size: 14px;
    white-space: nowrap;
}

button, a {
    border: none;
    background: none;
    padding: 15px;
    color: #70757a;
    text-decoration: none;
}

header a {
    margin: 0px;
    padding: 0px;
    margin-right: 13px;
}

a:hover, button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.search-bar textarea:focus, input:focus{
    outline: none;
}

.search-bar:hover, .active .search-bar {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}


.search-icon img {
    visibility: hidden;
    height: 24px;
    width: 24px;
    background: url(img/tia.png) no-repeat center;
}
footer {
    align-self: stretch;
    flex-shrink: 0;
    background: #f2f2f2;
}

.flex-even {
    display: flex;
    justify-content: space-between;
    flex:wrap;
}

.flex {
    display: flex;
}

.additional-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.language-text {
    font-family: Arial, sans-serif;
    margin-bottom: 32px;
    display: block;
    text-align: center;
}

.search-bar-block {
    flex-grow: 1;
    flex-shrink: 0;
    max-height: 160px;
    min-height: 160px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}